<launch>
	<node name="cvx_decomp" 
    pkg="convex_decomposer" 
    type="cvx_decomp.py" 
    output="screen">
    <param name="bag_file" value="$(find decomp_test_node)/data/simple.bag"/>
    <param name="bag_topic" value="/cloud"/>
    <param name="path_file" value="$(find decomp_test_node)/data/path3d.txt"/>
    </node>

</launch>
