<launch>

	<arg name="quad" default="SQ01s"/>


	<node ns="$(arg quad)" name="faster" pkg="faster" type="faster_node" output="screen" clear_params="true"> 
    <rosparam file="$(find master_node)/param/params.yaml" command="load"/>

        <!-- Subscriptions -->
		<remap from="~state" to="/SQ01s/state"/>
		<remap from="/occup_grid" to="/SQ01s/global_mapper_ros/occupancy_grid"/> <!--PointCloud of the occupancy grid-->
		<remap from="/unknown_grid" to="/SQ01s/global_mapper_ros/unknown_grid"/> <!--PointCloud of the unknown map-->
		<remap from="~pcloud" to="camera/cloud"/> <!--HARDWARE:    camera/depth/color/points, SIMULATION:  camera/cloud -->
	</node>

</launch>
