<launch>

	<!-- Launch ACL Gazebo -->
	<include file="$(find acl_sim)/launch/start_world.launch" />
 	<include file="$(find acl_sim)/launch/perfect_tracker_and_sim.launch" />

	 <!-- Octomap Launch -->
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.5" />

		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="vicon" />

		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="10.0" />

		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/SQ01s/camera/cloud" />

	</node>

	<!-- Mapper Module -->
	<include file="$(find octomap_listener)/launch/octomap_launch.launch" />

</launch>
