<launch>
	
	<!-- Master Node -->
	<include file="$(find master_node)/launch/start_master_node.launch" />

	<!-- Global Planner -->
	<include file="$(find global_planner)/launch/start_global_planner.launch" />

	<!-- Convex Decomposition -->
	<include file="$(find convex_decomposer)/launch/start_convex_decomposition.launch" />

	<!-- Local Planner -->
	<include file="$(find local_planner)/launch/start_local_planner.launch" />

</launch>
